<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/icon/logo_asis.png" alt="Logo" style="height: 30px; vertical-align: middle; margin-right: 10px;">      
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>
      <ion-label>
        Usuario
      </ion-label>
      <ion-input [(ngModel)]="usuario" slot="end" type="email" placeholder="Usuario"></ion-input>

    </ion-item>
    <ion-item>
      <ion-label>
        Contraseña
      </ion-label>
      <ion-input [(ngModel)]="password" slot="end" type="password" placeholder="Ingresar"></ion-input>

    </ion-item>
  </ion-list>
  <ion-button (click)="ingresar()" expand="block" color="primary">Ingresar</ion-button>


<ion-list>
  <ion-list-header lines="inset">
    <ion-label routerLink="/recupera">Recuperar Contraseña</ion-label>
    <ion-label routerLink="/registro">Registrarse</ion-label>
  </ion-list-header>
 
</ion-list>


</ion-content>


